body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.calculator {
    width: 300px; 
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    text-align: center;
    flex-direction: column;
}

.display-container {
    width: 100%;
    display: flex;
    margin-bottom: 20px; 
}

.calculator-display {
    position: relative;
    width: 100%;
    height: 60px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    white-space: nowrap; 
    overflow-x: auto; 
    overflow-y: hidden;
    box-sizing: border-box;
    direction: ltr;
    color: #333;
    background-color: #f5f5f5;
}
 

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    height: 50px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    background: lightgray;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

button:hover {
    background: gray; 
}

button.operator {
    background-color: rgb(106, 190, 243) ;
    color: white;
    font-size: 35px;
}

button.operator:hover {
    background-color: rgb(74, 137, 177);
}

button.clear {
    background: #FFA500;
    color: white;
}

button.clear:hover {
    background: rgb(201, 132, 4);
}

button.equal { 
    background-color: rgb(106, 190, 243) ;
    color: white;
    font-size: 30px;
}

button.equal:hover {
    background-color: rgb(74, 137, 177);
}

button.wide {
    grid-column: span 2; 
}

